<%- include('../template/header.ejs') %>

    <% console.log(locals.articles) %>
    
    <% for(var i=0; i<locals.articles.length; i++) {%>
        <ul>
            <li><%= locals.articles[i].titre %></li>
            <li><%= locals.articles[i].categorie %></li>
        </ul>
     <% } %>


    Bonjour 
    <% if(locals.nom) { %>
        <%= nom %>
    <% } %>

    <%- include('../template/footer.ejs') %>
</body>
</html>